{
  "presets": [
    [
      "@babel/preset-env",
      {
        //polyfills are automatically imported when needed.
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
